 * {
     margin: 0;
     padding: 0;
     font-family: Montserrat;
 }

 .navigation{
     margin-top: 25px;
     margin-bottom: 25px;
 }

 ul{
     display: flex;
     justify-content: center;
 }

 li{
     list-style: none;
 }

 a{
     text-transform: uppercase;
     text-decoration: none;
     color: #FF0000;
     font-size: 18px;
     font-weight: 700;
     letter-spacing: 2.7px;
     line-height: 18px;
     font-style: normal;
 }

 .listitem1 {
     margin-right: 62px;
 }
 .listitem2 {
     margin-right: 62px;
 }
 .listitem3 {
     margin-right: 62px;
 }
.image {
    width: 100%;
    margin-bottom: 48px;
}
.heading {
    font-style: normal;
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 38px;
}
.first_paragraph {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: black;
    margin-bottom: 28px;
}
.second-paragraph {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    color: black;
    margin-bottom: 66px;
}


.button {
    box-sizing: border-box;
    background-color: #FF0000;
    text-transform: uppercase;
    color: white;
    border: none;
    width: 190px;
    height: 50px;
    margin-left: 587px;
}
.before_footer {
    margin-bottom: 48px;
}
.footer {
    margin-left: 105px;
    margin-right: 105px;
    margin-bottom: 29px;
}
.copyright {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: black;
    margin-left: 608px;
}